//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-dark-gray: #777;
$color-light-gray: #eee;
$color-white: #fff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8em;
$gutter-horizontal: 6rem;